@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --light-grey: #f6f9fc;
  --dark-terminal-color: #0a2540;
  --accent-color: #635bff;
  --radius: 3px;
}

.card_container {
  padding: 20px;
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
  width: 580px;
}

.card_form > * {
  margin: 10px 0;
}

.card_button {
  background-color: var(--accent-color);
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
.card_button:hover {
  filter: contrast(115%);
}
.card_button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
.card_button:disabled {
  opacity: 0.5;
  cursor: none;
}

input,
select {
  display: block;
  font-size: 1.1em;
  width: 100%;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: 0.6em;
}

fieldset,
input,
select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

.rows {
  flex-direction: column;
  align-items: center;
}

.card.service-card {
  padding: 0;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#single_service {
  margin-right: 450px;
  max-width: 1500px;
}

.related_text {
  text-align: center;
  margin-right: 120px;
}

.related_services {
  margin-left: 470px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.row_card {
  display: flex;
  justify-content: center;
}

.price {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
}

.link {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
}

#footer {
  width: 100%;
  background-color: #134d40;
  margin-top: 50px;
}

.container_footer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
}

.service-image__wrap img.service_image {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.service-image__wrap {
  height: 250px;
  overflow: hidden;
  object-fit: cover;
}

.service-card__title {
  margin-bottom: auto;
}
.service-card__content {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.service-card__btn {
  margin-top: 16px;
  align-self: center;
}
#my_btn {
  background-color: #134d40;
}

.service_about {
  margin: 0 0 40px 5px;
}

.service_title {
  margin: 0 0 40px 5px;
  font-style: italic;
}

.serviceId_title {
  margin: 0 0 20px 30px;
}

.card-seller {
  width: 330px;
}

.seller-info {
  margin-right: 260px;
}

#seller_picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 30% 10%;
}

.service_price {
  font-weight: bold;
  font-size: 20px;
}
.service_description {
  line-height: 25px;
  margin: 0 30px 30px 30px;
}

#proceed_checkout {
  margin: 0 30px;
  background-color: #134d40;
}

#back_home {
  margin: 0 0 0 30px;
  background-color: #134d40;
}

#checkout {
  margin: 30px 30px 30px 0;
  background-color: #134d40;
}

.btn_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#image_review {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
#user_image_review {
  width: 60px;
  border-radius: 50px;
  border: 2px groove #01251c;
}

#back_home_checkout {
  margin: 30px 0 30px 30px;
  background-color: #134d40;
}
.checkout_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card_swipe {
  width: 400px;
  height: auto;
  object-fit: cover;
}

.paymentForm_container {
  display: flex;
  flex-wrap: nowrap;
}

/* #image_pay {
  width: 400px;
  height: 300px;
  object-fit: cover;
} */

#image_pay {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

#service_summary {
  width: 400px;
  margin: 150px 30px;
}

/* .pay_similar {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
} */

#back_home_pay {
  margin: 30px 0 30px 30px;
  background-color: #134d40;
}
