.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rows {
  flex-direction: column;
  align-items: center;
}

.card.service-card {
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  padding: 0 0 16px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

.price {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
}

.link {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
}

.page-footer {
  background-color: #134d40;
}

.xyz {
  font-size: 1px;
  
}

.service-image__wrap img.service_image {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.service-image__wrap{
  height: 250px;
  overflow: hidden;
}

.service-card__title{
  margin-bottom: auto;
}
.service-card__content{
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.service-card__btn{
  margin-top: 16px;
  align-self: center;
}