@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --light-grey: #f6f9fc;
  --dark-terminal-color: #0a2540;
  --accent-color: #635bff;
  --radius: 3px;
}

.card_form > * {
  margin: 10px 0;
}

.card_button:hover {
  filter: contrast(115%);
}
.card_button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
.card_button:disabled {
  opacity: 0.5;
  cursor: none;
}

input,
select {
  display: block;
  font-size: 1.1em;
  width: 100%;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: 0.6em;
}

fieldset,
input,
select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

.rows {
  flex-direction: column;
  align-items: center;
}

.card.service-card {
  padding: 0;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Bogdan services card*/
#single_service {
  display: flex;
  flex-direction: column;
}
/* related category services page */
.related_text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.related_text_seller {
  text-align: center;
  margin-bottom: 35px;
}

/* .related_services {
  margin-left: 470px;
} */

.row {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.row_card {
  display: flex;
  justify-content: center;
}

.price {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.link {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
}

#footer {
  background-color: #134d40;
  margin-top: 50px;
  margin-bottom: 0;
}

.container_footer {
  text-align: center;
  display: inline;
  width: 100%;
  justify-content: space-around;
}

.service-image__wrap img.service_image {
  min-height: 100%;
  object-fit: cover;
  height: 50%;
  /* width: 50%; */
}

.service-image__wrap {
  height: 250px;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 18px;
}

/* image in the services page */
.card-image-service {
  height: 50%;
  text-align: center;
  padding: 5px;
  display: block;
}

.service-card__title {
  margin-bottom: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.serviceId_title {
  padding-top: 2px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.service-card__content {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.service-card__btn,
.btn_links {
  margin-top: 16px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#my_btn {
  background-color: #134d40;
}

.service_about {
  margin: 0 0 40px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.service_title {
  margin: 0 0 30px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}
.card-seller {
  width: 299px;
}

.card-display-separator {
  max-width: 50%;
}

.seller-info {
  display: flex;
  justify-content: center;
  /* gap: 32px; */
  /* padding-top: 30px; */
  /* flex-wrap: wrap; */
}

#seller_picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 30% 10%;
}

.service_price {
  padding: 24px 24px;
  border-top: solid;
  border-width: 0.5px;
  border-color: rgb(223, 223, 223);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-weight: bold;
}

.brand-logo_title {
  padding-left: 6rem;
  font-weight: 600;
  font-size: x-large;
}

.service_price-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.service_description {
  line-height: 25px;
  margin: 0 30px 30px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}
/* SellerInfo fonts */
.seller_businessname {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.seller_about,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#proceed_checkout {
  margin: 0 30px;
  background-color: #134d40;
}

#back_home {
  background-color: #134d40;
}
#back_home-service {
  margin-left: 30px;
  background-color: #134d40;
}

#checkout {
  margin: 30px 30px 30px 0;
  background-color: #134d40;
}

.btn_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#back_home_checkout {
  margin: 30px 0 30px 30px;
  background-color: #134d40;
}
.checkout_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* .card_swipe {
  width: 400px;
  height: auto;
  object-fit: cover;
} */

.logo {
  padding-top: 0.45rem;
  width: 70px;
}

.white-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.grey-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.homebtn,
.ord,
.lgn,
.dropdown-trigger,
.submit_contact,
#back_btn,
.login_btn,
#register,
.no_acc_text,
.form-group,
#checkout,
#back_home_checkout,
#back_home_pay,
#back_home,
#proceed_checkout,
#back_home-service,
#login {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.form-group {
  font-size: 15px;
  text-align: center;
}

#dropdown1 {
  position: absolute;
  top: -65px;
  min-width: 200px;
}

.related_services {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  float: left;
  justify-content: space-between;
  text-justify: auto;
}

.related_services_card {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.search {
  margin-top: 50px;
  border-radius: 30px;
}

.nav-searchbar {
  background-color: white;
  margin: 0 auto;
  width: 30%;
  border-radius: 30px;
}

/* #image_pay {
  width: 400px;
  height: 300px;
  object-fit: cover;
} */

/* .pay_similar {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
} */

.register-text {
  position: relative;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.google_sign_in {
  width: 260px;
  position: relative;
  top: 10px;
  left: 760px;
}

.google_sign_in_login {
  width: 260px;
  position: relative;
  top: 430px;
  right: 470px;
}

#google_sign_in_link {
  background-color: #134d40;
}

/* contact seller page */
#user_image_review {
  height: 200px;
  width: auto;
}
#contact-page-seller {
  margin-top: 25px;
  text-align: center;
}

.card-image_contact-seller {
}
.contact-seller-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.form_contact-seller {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: #3e4d40;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  position: relative;
}

.hr_line {
}

.send_message {
  text-align: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 34px;
}

#name {
  border: 1px inset rgb(129, 127, 127);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#buyerEmail {
  font-size: 15px;
  border: 1px inset rgb(129, 127, 127);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#message {
  font-size: 15px;
  border: 1px inset rgb(129, 127, 127);
  height: 250px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.file {
  font-size: 12px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.seller-btns {
  display: flex;
}
#back_btn {
  background-color: #134d40;
}

.submit_contact {
  max-width: 80px;
  float: right;
  position: relative;
  bottom: 36px;
  background-color: #134d40;
  color: white;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  font-style: small-caps;
}
/* msg-forwarded page */
#msg-forwarded {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  min-height: 70vh;
}
.msg-sent-font h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.btn_links-msg-sent {
  margin-top: 80px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/* payment confirmation page */

#payment-confirmation {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  min-height: 75vh;
}
.payment-confirmation-font h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.btn_links-payment-confirmation {
  margin-top: 80px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#login {
  /* display: block; */
  /* flex-direction: column; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* .card-body {
  text-align: center;
} */

.login_btn {
  position: relative;
  margin: 10px 0;
  background-color: #134d40;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
}

.register_container {
  text-align: center;
  margin: 50px 0px 200px;
}

.no_acc_text {
}
#register {
  background-color: #134d40;
}
#login {
  /* background-color: #134d40; */
}
/* review page */
.card-image-review {
  height: 50%;
  text-align: center;
  display: block;
}
#user_image_review {
  border-radius: 50px;
  border: 2px groove #01251c;
  margin-top: 30px;
}
#image_review {
  display: inline-flex;
  flex-direction: column;
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
}

.review-category p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 0px;
}
.review-seller h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.review-seller p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
/* payment page */
#payment-form {
  margin-top: 0px;
}

#image_pay {
  display: inline-flex;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: auto;
}
.business-name-review h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.title-review h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.card_container {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  display: flex;
  font-size: 12px.2em;
  color: var(--dark-terminal-color);
}
.card_button {
  background-color: var(--accent-color);
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  /* display: block; */
}

#back_home_pay {
  display: block;
  margin: 30px 0px 40px;
  background-color: #134d40;
}
.btn_links-pay {
  max-width: 80px;
  display: inline-flex;
  flex-direction: column;
}
/* registration page */
#file {
  font-size: 12px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.slider-picture {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

@media screen and (max-width: 730px) {
  .brand-logo_title {
    padding-left: 0rem;
    font-weight: 300;
    font-size: small;
  }
}

.no-match-warn {
  width: 100%;
  color: red;
}

.no-match {
  width: 100%;

  min-height: 450px;
}

.update-delete {
  display: flex;
  justify-content: space-around;
}

.manage-account {
  display: flex;
  justify-content: space-around;
}

.ind-link {
  display: flex;
  justify-content: center;
}

.bio {
  text-align: justify;
  margin-bottom: 40px;
}

/* delete this before pushing or edit the login css */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.brand-logo > img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}
/* Menu - profile */
.bg-card-user {
  background: rgba(0, 77, 64, 0.5);
  padding: 15px 0;
  margin-bottom: 30px;
}
.truncate > img {
  width: 100px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* LOGIN */

i.icon {
  font-size: 1em !important;
  margin-top: 8px;
}

.login {
  border: 1px solid #fff;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.box {
  display: flex;
}
